<mat-card class="resume-card">
    <div cdkDropList cdkDropListOrientation="horizontal" class="personal-info" (cdkDropListDropped)="drop($event)">
        <div class="personal-info-dif" *ngFor="let timePeriod of timePeriods" cdkDrag [innerHTML]="timePeriod"></div>
    </div>
    <mat-card-content>
        <div class="objective-div-left" *ngIf="isLeftSideObjective">
            {{objective}}
        </div>
        <div class="objective-div-right" *ngIf="isRightSideObjective">
            {{objective}}
        </div>
        <div class="body-left">
            <div class="experience-div">
                <div class="work-exp-div">
                    Work Experience
                </div>
                <div>
                    <div cdkDropList class="example-list" (cdkDropListDropped)="dropExperience($event)">
                        <div class="example-box" *ngFor="let item of workExperience" cdkDrag>
                            <div class="step">
                                <div>
                                    <div class="circle"></div>
                                </div>
                                <div>
                                    <div class="title">{{item}}</div>
                                    <div class="caption">
                                        <div class="caption-content">
                                            {{getExpValue(item)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="skills-div">
                <div class="skills">
                    Skills
                </div>
                <div class="skill-container">
                    <div cdkDropList #skill1List="cdkDropList" [cdkDropListData]="skill1" [cdkDropListConnectedTo]="[skill2List]" class="skill-list" (cdkDropListDropped)="dropSkills($event)">
                        <div class="skill-box" *ngFor="let item of skill1" cdkDrag>
                            <div class="individual-skill">
                                <div class="skill-name">{{item}}</div>
                                <mat-progress-spinner mode="determinate" value="{{getValue(item)}}">
                                </mat-progress-spinner>
                                <div style="position:relative; top: -60px; left: 30px;"> {{getValue(item)}}% </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skill-container">
                    <div cdkDropList #skill2List="cdkDropList" [cdkDropListData]="skill2" [cdkDropListConnectedTo]="[skill1List, skill3List]" class="skill-list" (cdkDropListDropped)="dropSkills($event)">
                        <div class="skill-box" *ngFor="let item of skill2" cdkDrag>
                            <div class="individual-skill">
                                <div class="skill-name">{{item}}</div>
                                <mat-progress-spinner mode="determinate" value="{{getValue(item)}}">
                                </mat-progress-spinner>
                                <div style="position:relative; top: -60px; left: 30px;"> {{getValue(item)}}% </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skill-container">
                    <div cdkDropList #skill3List="cdkDropList" [cdkDropListData]="skill3" [cdkDropListConnectedTo]="[skill2List,skill4List]" class="skill-list" (cdkDropListDropped)="dropSkills($event)">
                        <div class="skill-box" *ngFor="let item of skill3" cdkDrag>
                            <div class="individual-skill">
                                <div class="skill-name">{{item}}</div>
                                <mat-progress-spinner mode="determinate" value="{{getValue(item)}}">
                                </mat-progress-spinner>
                                <div style="position:relative; top: -60px; left: 30px;"> {{getValue(item)}}% </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skill-container">
                    <div cdkDropList #skill4List="cdkDropList" [cdkDropListData]="skill4" [cdkDropListConnectedTo]="[skill3List]" class="skill-list" (cdkDropListDropped)="dropSkills($event)">
                        <div class="skill-box" *ngFor="let item of skill4" cdkDrag>
                            <div class="individual-skill">
                                <div class="skill-name">{{item}}</div>
                                <mat-progress-spinner mode="determinate" value="{{getValue(item)}}">
                                </mat-progress-spinner>
                                <div style="position:relative; top: -60px; left: 30px;"> {{getValue(item)}}% </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>